#root {
    display: grid;
    width: 100%;
    height: 100vh;

}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


.logo:hover {
    margin-bottom: 0.5%;
    color: lightblue;
    cursor: pointer;


}

.img-logo {
    width: 1.3rem;
    height: 1.3rem;

}

.img-logo:hover {
    margin-bottom: 0.5%;
    cursor: pointer;
}

.logo-web:hover {
    margin-bottom: 0.5%;
    color: lightblue;
    cursor: pointer;
}

.now:hover {
    margin-bottom: 0.5%;
    color: lightblue;
    cursor: pointer;
}

.top-post:hover {
    margin-bottom: 0.5%;
    color: lightblue;
    cursor: pointer;
}

.all-time:hover {
    margin-bottom: 0.5%;
    color: lightblue;
    cursor: pointer;
}